@import "marks-color-schema";
.register-holder{
  //height: 40vh!important;
}
.form-check{
  text-align: left;
}
#accountHelp{
  margin-bottom:0.35rem;
}
#inlineFormCheck{
  border-radius: 5rem;
}
label{
  padding-top:0.25rem;
  padding-bottom: 0.25rem;
}
input{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.register-holder{
  margin-top:3.5vh;
}
button{
  margin-top: 0.75rem;
}
select{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
