$primary-color: #432E30;
$primary-color-light: #8E7474;
$accent-color-pomegranate: #FE6A6B;
$accent-color-light: #FFE4E4;
$accent-color-dark: #B94B4C;
$white-color: #FAFBFC;
$light-gray-color: #C6CBD1;
$medium-gray-color: #959DA5;
$dark-gray-color: #444D56;
$bg-color: #F8F8FA;
$code-bg-color: #F0E8E8;
$background-color:white;
$paragraph-background-color:#4A4A4A;
$footer-background-color: white;
$white-09: #f9f9f9;
$black-09: #505050;
$white-08: #d4c7c7;
$white-07: #b7a9a9;
$white-06: #8f8585;
$white-05: #b1a3a3;
